<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	>
<!-- les balises qui commencent par h sont interceptées par le serveur avant de les renvoyer au client -->
<h:head>
	<title>Le Bon Coin</title>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
</h:head>

<h:body>

	<!-- <h:messages /> -->
	
	<h2>Hello World !</h2>
	
	
</h:body>

</html>